<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <authorization>
      <allow roles="Admin" />
    </authorization>
    <compilation debug="true"/>
  </system.web>
  
    
  <location path="TMenuScreen.aspx">          
    <system.web>              
      <authorization>          
        <allow roles="Admin" />           
  </authorization>         
  </system.web>     
  </location> 
    
   <location path="TMenuSupervisor.aspx">          
    <system.web>              
      <authorization>          
        <allow roles="Admin, Supervisor" />           
  </authorization>         
  </system.web>     
  </location>
  
  <location path="TProblemLogin.aspx">          
    <system.web>              
      <authorization>          
        <allow roles="Admin, Supervisor, Agent" />           
  </authorization>         
  </system.web>     
  </location>
  
  <location path="TSMEScreen.aspx">          
    <system.web>              
      <authorization>          
        <allow roles="Admin, Supervisor, Agent" />           
  </authorization>         
  </system.web>     
  </location>
    
<connectionStrings>

    <add name="MyAspNetDB"

        connectionString="server=.;database=Tracking;integrated security=true"/>

  </connectionStrings>

 

  <system.web>

    <roleManager enabled="true">

        <providers>

            <clear/>

            <add name="AspNetSqlRoleProvider" connectionStringName="MyAspNetDB"

                applicationName="/SampleRolesApp"

                type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

        </providers>

    </roleManager>

    <membership>

        <providers>

            <clear/>

            <add name="AspNetSqlMembershipProvider"

                connectionStringName="MyAspNetDB"

                enablePasswordRetrieval="false"

                enablePasswordReset="true"

                requiresQuestionAndAnswer="false"

                applicationName="/SamplesRolesApp"

                requiresUniqueEmail="false"

                passwordFormat="Hashed"

                maxInvalidPasswordAttempts="5000"

                minRequiredPasswordLength="7"

                minRequiredNonalphanumericCharacters="1"

                passwordAttemptWindow="10000"

                

                type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

        </providers>

    </membership>

 

    <authentication mode="Forms" />

 

  </system.web>

</configuration>

